.article {
    &-body {
        display: flex;
        flex: 1;
    } 
    &-sidebar {
        flex-shrink: 0;
        overflow: auto;
        height: 100%;
        width: 30%;
    }
    &-content {
        flex: 1;
        padding: 0 20px;

        img {
            max-width: 500px;
        }
    }
    &-filter {
        padding: 0 20px 20px 20px
    }
    &-item {
        padding: 0 10px 0 20px;
        
        &:hover {
            background-color: #e5e5e5;
            cursor: pointer;
        }
    }
    &-image {
        float: left;
        margin: 0 20px 20px 0;
        width: 50px;
    }
    &-title {
        font-size: 16px
    }
    &-description {
        color: gray;
        font-size: 14px;
    }
}